global:
  hostname: _DOMAIN_
  esignetBaseUrl: https://qafr.dpgongcp.com

postgresql:
  enabled: false

spar-mapper-api:
  enabled: true
  postgresql:
    enabled: false
  envVars:
    SPAR_MAPPER_DB_HOSTNAME: ""
    SPAR_MAPPER_DB_USERNAME: "postgres"
    SPAR_MAPPER_DB_DBNAME: "spardb"
  envVarsFrom:
    SPAR_MAPPER_DB_PASSWORD:
      secretKeyRef:
        name: 'external-db-secret'
        key: 'SQL_PASS'
  istio:
    enabled: true
    virtualservice:
      enabled: true
      host: _DOMAIN_
      gateway: "spar-spar-self-service-ui"
      prefix: "/api/mapper/"
      rewriteUri: "/"
    gateway:
      enabled: false

spar-self-service-api:
  enabled: true
  postgresql:
    enabled: false
  envVars:
    SPAR_SELFSERVICE_DB_HOSTNAME: ""
    SPAR_SELFSERVICE_DB_USERNAME: "postgres"
    SPAR_SELFSERVICE_DB_DBNAME: "spardb"
    SPAR_SELFSERVICE_MAPPER_API_URL: 'http://{{ .Release.Name }}-spar-mapper-api/sync'
    SPAR_SELFSERVICE_AUTH_DEFAULT_ISSUERS: '["{{ .Values.global.esignetBaseUrl }}/v1/esignet"]'
    SPAR_SELFSERVICE_AUTH_DEFAULT_JWKS_URLS: '["{{ .Values.global.esignetBaseUrl }}/v1/esignet/oauth/.well-known/jwks.json"]'
  envVarsFrom:
    SPAR_SELFSERVICE_DB_PASSWORD:
      secretKeyRef:
        name: 'external-db-secret'
        key: 'SQL_PASS'
  istio:
    enabled: true
    virtualservice:
      enabled: true
      host: _DOMAIN_
      gateway: "spar-spar-self-service-ui"
      prefix: "/api/selfservice/"
      rewriteUri: "/"
    gateway:
      enabled: false



spar-self-service-ui:
  enabled: true
  istio:
    enabled: true
    virtualservice:
      enabled: true
      host: _DOMAIN_
      gateway: "spar-spar-self-service-ui"
      prefix: "/selfservice"
      rewriteUri: ""
    gateway:
      enabled: true
      host: _DOMAIN_
      ingressController:
        istio: ingressgateway
      httpTlsRedirect: true
      tls:
        enabled: true
        mode: SIMPLE
        credentialName: spardevelopment-com-tls


